body {
  --inner-color: #501d5a;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, var(--inner-color) 20%, #1a0420);
}

section{
  width: 400px;
  height: 400px;
  background: var(--inner-color);
  border-radius: 50%;
  box-shadow: 0 0 50px var(--inner-color);
}