@font-face {
  font-family: 'NeonFont';
  src: url('./assets/Fonts/neon-font/Neon-e2wg.ttf') format('truetype');
}


body {
  --inner-color: #501d5a;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: radial-gradient(circle, var(--inner-color) 20%, #1a0420 80%);
}

h1 {
  font-family: 'NeonFont', sans-serif;
  font-size: 4rem;

  background: linear-gradient(45deg, #ff6ec4, #7873f5, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px transparent;
  text-shadow: 0 0 5px #ff6ec4, 0 0 10px #7873f5, 0 0 15px red;
  
}

section {
  width: 400px;
  height: 400px;
  background: var(--inner-color);
  border-radius: 50%;
  border: 2px solid #ff6ec4;
  box-shadow: 0 0 50px #ff6ec4;
}


section .innerGlow {
  width: 400px;
  height: 400px;
  background: var(--inner-color);
  border-radius: 50%;
  box-shadow: 0 0 50px #ff6ec4 inset;
}
